body {
    background-color:tan;
}

div {
    text-align: center;
}

#CoverArt {
    border-radius: 25%;
}

#cast{
    text-align:center;
    padding-left:100px;
    padding-right:100px;
    margin-right:100px;
    margin-left:100px;
}
